.container{
  padding: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: white;
  background-image: linear-gradient(to left, #ffecd2 0%, #fcb69f 100%);
}

.buttons{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.buttonClear{
  margin-right: 30px;
}

.form__name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 50px;
  width: 100%;  
}

.label1 {
  position: relative;
  bottom: 30px;
}