.container{
  padding: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: white;
 background-image: linear-gradient(to left, #ffecd2 0%, #fcb69f 100%);
}

.form__name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin: 50px;
  width: 100%;
  
}
